@font-face {
    font-family: "Nokio";
    src: url("/fonts/nokio.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Tumbly";
    src: url("/fonts/tumbly.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
